---
import PageLayout from "~/layouts/PageLayout.astro";
---

<PageLayout title="Talks">
  <section
    class="my-32 mx-auto container w-full max-w-4xl flex-1 px-4 flex flex-col sm:flex-row gap-4 items-center"
  >
    <div class="prose prose-xl text-center sm:text-left sm:flex-1">
      <h1 class="mb-0">🗣 Talks</h1>
      <h3 class="mt-0">Links and slides from public talks</h3>
    </div>
  </section>
  <div class="bg-base-200 mt-16 py-32">
    <section class="mb-12 flex-1 px-4 mx-auto container w-full max-w-4xl">
      <div class="prose prose-xl">
        <p>They will be here soon!</p>
      </div>
    </section>
  </div>
</PageLayout>
