---
import Builder from "~/components/builder";
import "~/styles/global.css";
---

<html class="h-dvh">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Royletron.dev ~ Guitar</title>
  </head>
  <body class="antialiased text-page tracking-tight flex flex-col min-h-full overflow-x-hidden">
    <div class="absolute inset-0" data-theme="light">
      <Builder client:load />
    </div>
  </body>
</html>