---
import Builder from "~/components/builder";
import "~/styles/global.css";
---

<html class="h-full">
  <body class="antialiased text-page tracking-tight flex flex-col min-h-full overflow-x-hidden">
    <div class="absolute inset-0">
      <Builder client:load />
    </div>
  </body>
</html>