---
import "~/styles/global.css";
// import "~/styles/base.css";
import "@fontsource/inter";
import "@fontsource/alegreya-sans";
import MetaTags from "~/components/common/MetaTags.astro";
import BasicScripts from "~/components/common/BasicScripts.astro";
import type { MetaSEO } from "~/types";
export interface Props {
  meta?: MetaSEO;
  title?: string;
}
const { meta = {}, title } = Astro.props;
---

<!DOCTYPE html>
<html class="2xl:text-[20px] h-full">
  <head>
    <MetaTags {...meta} title={title} />
  </head>

  <body
    class="antialiased text-page tracking-tight flex flex-col min-h-full overflow-x-hidden"
  >
    <div class="zig">
      <div class="zag"></div>
    </div>
    <div class="zig">
      <div class="zag"></div>
    </div>
    <slot />
    <BasicScripts />
    <style is:global>
      img {
        content-visibility: auto;
      }
    </style>
    <noscript>
      <img
        src="https://shynet.anton.rip/ingress/d287144d-265a-4467-8f53-b8863cff2da9/pixel.gif"
      />
    </noscript>
    <script
      defer
      src="https://shynet.anton.rip/ingress/d287144d-265a-4467-8f53-b8863cff2da9/script.js"
    ></script>
  </body>
</html>
